.search_user {
    padding: 5px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    margin-top: 15px;
    border: 1px solid rgb(229, 229, 229);
    background-color: white;
    position: relative;
}

.search_user input {
    border: none;
    outline: none;
    padding: 3px;
    background-color: transparent;
    width: 100%;
}

.search_user_icon {
    margin: 0 6px;
}

.searched_user {
    position: absolute;
    top: 35px;
    left: 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 10px;
    z-index: 1;
    display: flex;
    background-color: white;
    align-items: center;
    gap: 10px;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
}

.searched_profile_div {
    height: 35px !important;
    width: 35px !important;
}
