.send_msg_input_div {
    padding: 5px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    background-color: #faf9f9;
    margin: 10px;
    border: 1px solid rgb(229, 229, 229);
}
.send_msg_input {
    border: none;
    outline: none;
    padding: 3px;
    background-color: transparent;
    padding: 5px;
    width: 100%;
}

.attach_file_icon_div,
.send_msg_icon_div {
    display: flex;
    padding: 5px;
    cursor: pointer;
}

.send_message_div {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
        rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
        rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}
