* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    min-height: 100vh;
    width: 100%;
}

#root {
    height: 100%;
}

.app {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("./assets/main_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}
